.carousel {
    // top: 0;
    // left: 0;
    // margin-top: -165px;
    width: 100%;
    // max-height: 550px;
    // padding-top: 150px;
    padding-bottom: 65px;
    max-height: 550px !important;
    z-index: 100 !important;
    position: relative;
    .slidescss {
        width: 100%;
        // height: 100%;
        max-height: 750px !important;
        overflow: hidden;
        margin: 0 auto;
        z-index: 100;
        float: center;
        position: fixed;
    }
    .carousel-item {
        -webkit-background-attachment: fixed!important;
        -moz-background-attachment: fixed!important;
        background-attachment: fixed!important;
        background-position: center top!important;
        // background-size: 100% auto !important;
        z-index: 100;
    }
    .carousel-fade .active.carousel-item-left,
    .carousel-fade .active.carousel-item-prev,
    .carousel-fade .carousel-item-next,
    .carousel-fade .carousel-item-prev,
    .carousel-fade .carousel-item.active {
        -webkit-transform: 0.4s ease-in-out !important;
        transform: 0.4s ease-in-out !important;
        width: 100%;
        margin: 0 auto;
        z-index: 100 !important;
    }
    // #carouselExampleIndicators {
    //     display: flex;
    //     border: 1px solid red;
    // }
    .carousel-indicators li {
        display: none;
        // border: 1px solid red;
    }
}


/* phone */

@media (max-width: 700px) {
    .carousel {
        // top: 0;
        // left: 0;
        width: 100%;
        height: 100%;
        margin-bottom: -95px;
        z-index: 100 !important;
        .row {
            background: #f8f9fa;
            margin-top: 20px;
        }
        .col {
            border: solid 1px #6c757d;
            padding: 10px;
        }
        .slidescss {
            background-size: 820px 500px;
            width: 100%;
            height: auto;
        }
        .carousel-item {
            -webkit-background-attachment: fixed!important;
            -moz-background-attachment: fixed!important;
            background-attachment: fixed!important;
            background-position: center top!important;
        }
        .carousel-fade .active.carousel-item-left,
        .carousel-fade .active.carousel-item-prev,
        .carousel-fade .carousel-item-next,
        .carousel-fade .carousel-item-prev,
        .carousel-fade .carousel-item.active {
            -webkit-transform: 0.4s ease-in-out !important;
            transform: 0.4s ease-in-out !important;
        }
    }
}

// @media (max-width: 1025px) {
//     .carousel {
//         padding-bottom: 200px!important;
//         margin-bottom: 0px !important;
//     }
// }
.animation-one {
    margin: 0px 25px;
    padding-left: 20px;
    width: 100%;
    height: 200px !important;
    overflow: hidden !important;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 230px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    box-sizing: border-box;
}

.two-animation {
    margin: 0px 25px;
    padding-left: 20px;
    width: 100%;
    height: 100px !important;
    overflow: hidden !important;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 450px;
    display: flex;
    align-content: center;
    box-sizing: border-box;
}