.topNav {
    box-sizing: border-box !important;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-height: 135px;
    background: whitesmoke;
    position: fixed;
    top: 0;
    z-index: 999 !important;
    // transition for slow shrink top nav banner
    transition: top 0.2s ease !important;
    .navsort {
        box-sizing: border-box !important;
        margin-left: 0px;
        width: 100%;
        height: 135px;
        display: flex;
        justify-content: flex-start !important;
        align-items: flex-end !important;
        margin: 0 auto;
        padding: 0px !important;
        // padding: 0 1rem;
        .sortnav {
            text-decoration: none;
            color: #000000;
            box-sizing: border-box !important;
            min-width: 65%;
            height: auto;
            margin: 0 auto;
            padding: 0px !important;
            display: flex;
            justify-content: flex-start !important;
            align-items: baseline !important;
            .logoimg {
                transition: all 0.4s ease !important;
                max-width: 450px;
                height: auto;
                display: flex !important;
                justify-content: flex-start !important;
                margin: 0px !important;
                padding: 0px !important;
                margin-top: 40px;
            }
        }
        .titlestyle3 {
            height: 100%;
            display: flex;
            justify-content: space-around;
            min-width: 35%;
            align-items: flex-end;
            z-index: 1000;
            p {
                margin: 0 auto;
                padding: 8px;
                color: #d6cec3;
            }
            a {
                margin: 5px;
                padding: 8px;
            }
        }
    }
    .sortnav:hover {
        cursor: pointer;
    }
}


/* tablet */

@media (max-width: 800px) {
    .topNav {
        box-sizing: border-box !important;
        display: block;
        margin: 0 auto;
        width: 100%;
        max-height: 135px;
        background: whitesmoke;
        position: fixed;
        top: 0;
        z-index: 999 !important;
        // transition for slow shrink top nav banner
        transition: top 0.6s ease !important;
        .navsort {
            box-sizing: border-box !important;
            margin-left: 0px !important;
            width: 100%;
            height: 135px;
            display: flex !important;
            justify-content: flex-start !important;
            align-items: flex-end !important;
            margin: 0 auto !important;
            padding: 0px !important;
            // z-index: 999 !important;
            .sortnav {
                // z-index: 999 !important;
                text-decoration: none;
                color: #000000;
                box-sizing: border-box !important;
                min-width: 65% !important;
                height: auto;
                margin: 0px !important;
                padding: 0px !important;
                display: flex !important;
                justify-content: flex-start !important;
                align-items: baseline !important;
                .logoimg {
                    transition: all 0.4s ease !important;
                    max-width: 450px;
                    height: auto;
                    display: flex !important;
                    justify-content: flex-start !important;
                    margin: 0px !important;
                    padding: 0px !important;
                    margin-top: 10px;
                }
            }
            .titlestyle3 {
                //     height: 100%;
                display: flex;
                justify-content: space-around;
                //     min-width: 530px;
                //     align-items: flex-end;
                p {
                    display: none !important;
                    // margin: 0 auto;
                    // padding: 8px;
                    // color: #d6cec3;
                }
                a {
                    // width: 100%;
                    // margin: 5px auto;
                    // // padding: 8px;
                }
            }
        }
        .sortnav:hover {
            cursor: pointer;
        }
    }
}

@media (max-width: 650px) {
    .topNav {
        box-sizing: border-box !important;
        display: block;
        margin: 0 auto !important;
        width: 100%;
        max-height: 135px;
        background: whitesmoke;
        position: fixed;
        top: 0;
        z-index: 999 !important;
        // transition for slow shrink top nav banner
        transition: top 0.6s ease !important;
        .navsort {
            box-sizing: border-box !important;
            margin-left: 0px !important;
            width: 100%;
            height: 135px;
            display: flex !important;
            justify-content: flex-start!important;
            align-items: flex-end !important;
            margin: 0px !important;
            padding: 0px !important;
            .sortnav {
                text-decoration: none;
                color: #000000;
                box-sizing: border-box !important;
                // min-width: 65% !important;
                width: 500px !important;
                height: auto;
                margin: 0px !important;
                padding: 0px !important;
                display: flex !important;
                justify-content: flex-start !important;
                align-items: baseline !important;
                .logoimg {
                    display: flex !important;
                    justify-content: flex-start !important;
                    transition: all 0.4s ease !important;
                    width: 450px !important;
                    height: auto;
                    margin: 0px !important;
                    padding: 0px !important;
                    margin-top: 40px;
                }
            }
            .titlestyle3 {
                //     height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: flex-end;
                //     min-width: 530px;
                //     align-items: flex-end;
                p {
                    display: none !important;
                    // margin: 0 auto;
                    // padding: 8px;
                    // color: #d6cec3;
                }
                a {
                    // width: 100%;
                    // margin: 5px auto;
                    // // padding: 8px;
                }
            }
        }
        .sortnav:hover {
            cursor: pointer;
        }
    }
}


/* phone */

@media (max-width: 500px) {
    .topNav {
        box-sizing: border-box !important;
        display: block;
        margin: 0 auto;
        width: 100%;
        max-height: 105px;
        background: whitesmoke;
        position: fixed;
        top: 0;
        z-index: 999 !important;
        // transition for slow shrink top nav banner
        transition: top 0.6s ease !important;
        .navsort {
            box-sizing: border-box !important;
            margin-left: 0.5rem;
            width: 100%;
            height: 105px;
            // display: flex;
            // align-items: center !important;
            margin: 0 auto;
            padding: 0 1rem;
            .sortnav {
                text-decoration: none;
                color: #000000;
                box-sizing: border-box !important;
                width: 75%;
                height: auto;
                margin: 0 auto;
                display: flex;
                justify-content: flex-start !important;
                align-items: baseline !important;
                .logoimg {
                    transition: all 0.4s ease !important;
                    width: 280px;
                    height: auto;
                    display: flex;
                    justify-content: flex-start !important;
                    margin: 0px;
                    margin-top: 10px;
                }
            }
            .titlestyle3 {
                height: 100%;
                display: flex;
                justify-content: space-around;
                min-width: 430px;
                align-items: flex-end;
                p {
                    display: none;
                }
                a {
                    display: none;
                }
            }
        }
        .sortnav:hover {
            cursor: pointer;
        }
    }
}

.topNav--hidden {
    margin: 0 auto;
    max-height: 85px;
    transition: top 0.5s ease !important;
    z-index: 999 !important;
    background: whitesmoke;
    display: block !important;
    // transition: all 0.4s ease !important;
    .navsort {
        width: 100%;
        height: 85px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        margin: 0 auto;
        z-index: 999 !important;
        // transition: all 0.4s ease !important;
        .sortnav {
            margin: 0px;
            // max-width: 150px;
            height: 85px;
            z-index: 999 !important;
            .logoimg {
                transition: all 0.4s ease !important;
                // top: -55px !important;
                width: 250px;
                height: auto;
                display: flex;
                justify-content: flex-start !important;
                margin: 0px;
                margin-top: 10px;
                z-index: 999 !important;
            }
            //     .titlestyle {
            //         margin: 0px;
            //         padding: 0px;
            //         max-width: 100%;
            //         height: 85px;
            //         display: flex;
            //         h1 {
            //             transition: all 0.4s ease !important;
            //             height: 85px !important;
            //             display: flex;
            //             flex-wrap: wrap;
            //             align-items: baseline !important;
            //             margin: 0px;
            //             margin-top: 8px !important;
            //             z-index: 999;
            //             font-size: 70px;
            //             width: 75px;
            //             color: black;
            //         }
            //     }
            // }
            // .sorting {
            //     box-sizing: border-box;
            //     top: -55px;
            //     width: 100%;
            //     height: 85px;
            //     display: flex;
            //     align-items: flex-end !important;
            //     flex-direction: column;
            //     justify-content: center;
            //     .titlestyle2 {
            //         height: 85px;
            //         margin: 0 auto;
            //         display: flex;
            //         align-items: baseline;
            //         h3 {
            //             width: 100%;
            //             max-height: 30px;
            //             margin: -10px 0 0 0;
            //             font-size: 23px;
            //         }
            //     }
        }
    }
}


/* tablet */

@media (max-width: 800px) {
    .topNav--hidden {
        margin: 0 auto;
        max-height: 85px;
        // transition: top 0.6s ease !important;
        z-index: 999 !important;
        transition: all 0.4s ease !important;
        .navsort {
            width: 100%;
            height: 85px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            margin: 0 auto;
            transition: all 0.4s ease !important;
            .sortnav {
                text-decoration: none;
                color: #000000;
                box-sizing: border-box !important;
                min-width: 65%;
                height: auto;
                margin: 0px;
                display: flex;
                justify-content: flex-start !important;
                align-items: baseline !important;
                .logoimg {
                    transition: all 0.4s ease !important;
                    width: 210px !important;
                    height: auto;
                    // display: flex;
                    // justify-content: flex-start !important;
                    margin: 0px !important;
                    margin-top: 30px;
                    padding: 0px !important;
                }
            }
        }
    }
}

@media (max-width: 650px) {
    .topNav--hidden {
        margin: 0 auto;
        max-height: 85px;
        transition: top 0.6s;
        z-index: 999 !important;
        transition: all 0.4s ease !important;
        .navsort {
            width: 100%;
            height: 85px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            margin: 0 auto;
            transition: all 0.4s ease !important;
            .sortnav {
                text-decoration: none;
                color: #000000;
                box-sizing: border-box !important;
                min-width: 65%;
                height: auto;
                margin: 0 auto;
                display: flex;
                justify-content: flex-start !important;
                align-items: baseline !important;
                .logoimg {
                    transition: all 0.4s ease !important;
                    width: 250px !important;
                    height: auto;
                    display: flex;
                    justify-content: flex-start !important;
                    margin: 0px;
                    margin-top: 10px;
                }
            }
        }
    }
}


/* phone */

@media (max-width: 500px) {
    .topNav--hidden {
        margin: 0 auto;
        max-height: 85px;
        transition: top 0.6s;
        z-index: 999 !important;
        transition: all 0.4s ease !important;
        .navsort {
            width: 100%;
            height: 85px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            margin: 0 auto;
            transition: all 0.4s ease !important;
            @media (max-width: 800px) {
                .topNav--hidden {
                    margin: 0 auto;
                    max-height: 85px;
                    transition: top 0.6s;
                    z-index: 999 !important;
                    transition: all 0.4s ease !important;
                    .navsort {
                        width: 100%;
                        height: 85px;
                        display: flex;
                        align-items: center;
                        box-sizing: border-box;
                        margin: 0 auto;
                        transition: all 0.4s ease !important;
                        .sortnav {
                            text-decoration: none;
                            color: #000000;
                            box-sizing: border-box !important;
                            min-width: 65%;
                            height: auto;
                            margin: 0 auto;
                            display: flex;
                            justify-content: flex-start !important;
                            align-items: baseline !important;
                            .logoimg {
                                transition: all 0.4s ease !important;
                                width: 450px;
                                height: auto;
                                display: flex;
                                justify-content: flex-start !important;
                                margin: 0px;
                                margin-top: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.spacer {
    flex: 1;
}

.navbootstrap {
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 999 !important;
    display: flex;
    justify-content: center;
    .navbar {
        top: 135px;
        z-index: 999 !important;
        width: 100%;
        height: 65px;
        background: #54504a;
        display: flex;
        justify-content: space-around !important;
        align-items: center;
        transition: all 0.5s ease !important;
    }
    a {
        width: auto;
        max-width: 200px !important;
        box-sizing: border-box;
        color: goldenrod;
        text-decoration: none;
        font-weight: bold;
        box-sizing: border-box;
        padding: 15px;
        align-items: center;
        border: 4px solid #54504a;
        overflow: hidden!important;
    }
    a:hover {
        max-width: 200px !important;
        box-sizing: border-box !important;
        height: 65px;
        display: flex;
        background: #54504a;
        border-bottom: 4px solid #d6cec3;
        color: #d6cec3;
        box-sizing: border-box;
    }
    .basic-nav-dropdown {
        width: auto;
        max-width: 200px !important;
        // left: 0 !important;
        // right: 0 !important;
        // position: absolute;
    }
    .basic-nav-dropdown menu {
        width: auto;
        max-width: 200px;
        height: auto;
        overflow: hidden!important;
        // left: auto;
        // display: inline-block !important;
        // position: relative;
        box-sizing: border-box !important;
        // left: 0 !important;
        // right: 0 !important;
        // position: relative;
        // display: inline-block !important;
    }
    .droptop {
        // width: auto;
        // max-width: 200px;
        height: auto !important;
        color: #54504a;
        border: none;
        // white-space: normal !important;
        max-width: 200px !important;
        // width: 100%;
        // display: inline-block !important;
        // overflow-x: hidden;
        // clear: both;
        // flex-direction: column;
        min-width: inherit;
        // border: 1px solid red;
        // left: 0 !important;
        // right: 0 !important;
        // position: relative;
        overflow: hidden!important;
    }
    .droptop:hover {
        width: auto !important;
        max-width: 200px !important;
        // white-space: normal !important;
        height: auto;
        // border: none;
        // padding: none;
        // height: auto;
        // display: block !important;
        // position: relative !important;
    }
    .nav-item:hover .droptop {
        width: auto !important;
        max-width: 200px !important;
        display: block !important;
        box-sizing: border-box !important;
        position: relative;
        overflow: hidden!important;
    }
}

// @media (max-width: 800px) {
//     .navbootstrap {
//         width: 100%;
//         height: auto;
//         z-index: 999;
//     }
//     .navbar {
//         z-index: 999;
//         width: 100%;
//         height: 65px;
//         background: #54504a;
//         display: flex;
//         justify-content: space-evenly;
//         flex-wrap: wrap;
//         align-items: center;
//     }
//     a {
//         width: auto;
//         color: goldenrod;
//         text-decoration: none;
//         font-weight: bold;
//         align-items: center;
//         border: 4px solid #54504a;
//     }
//     a:hover {
//         box-sizing: border-box;
//         height: 65px;
//         width: auto;
//         display: flex;
//         background: #54504a;
//         border-bottom: 4px solid #d6cec3;
//         color: #d6cec3;
//     }
//     .droptop {
//         color: #54504a;
//         border: none;
//     }
//     .droptop:hover {
//         border: none;
//         padding: none;
//         height: auto;
//     }
//     .nav-item:hover .droptop {
//         display: block !important
//     }
// }

/* phone */

@media (max-width: 500px) {
    .navbootstrap {
        z-index: 0;
        display: none !important;
    }
}

.navCont {
    width: 100%;
    height: 85px;
    background: whitesmoke;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: top 0.2s;
}

// @media (max-width: 800px) {
//     .navCont {
//         width: 100%;
//         height: auto !important;
//         z-index: 999;
//     }
// }
// /* phone */
// @media (max-width: 500px) {
//     .navCont {
//         width: 100%;
//         height: auto;
//         z-index: 999;
//     }
// }
.navCont--hidden {
    top: -55px;
    z-index: 999 !important;
    transition: all 0.09s ease !important;
}