//white section after carousel with cards
.cleanbreak {
    margin: 0 auto !important;
    width: 100%;
    min-height: 465px;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    align-items: center;
    background: whitesmoke;
    z-index: 600;
    position: relative;
    img {
        display: flex;
        justify-content: center;
        width: 575px;
        height: 345px;
        margin: -2px 0px 0px 0px;
        padding: 0px;
    }
    .cleanbreakdiv {
        width: 50%;
        min-width: 545px !important;
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 20px;
        h1 {
            margin: 0 auto;
            width: 100%;
            color: rgb(44, 52, 88);
            font-size: 2.2rem;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        p {
            margin: 0 auto;
            width: 100%;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 2rem !important;
            font-weight: normal !important;
            color: rgb(44, 52, 88);
        }
    }
    .parallaxhome {
        width: 100% !important;
        height: auto !important;
    }
    .parallaxres {
        width: 100% !important;
        height: auto !important;
    }
    .parallaxcomm {
        width: 100% !important;
        height: auto !important;
    }
    .parallaxpower {
        width: 100% !important;
        height: auto !important;
    }
    .parallaxmiss {
        width: 100% !important;
        height: auto !important;
    }
    .parallaxproj {
        width: 100% !important;
        height: auto !important;
    }
}

//desktop
.cleanbreakdesktop {
    margin: 0 auto !important;
    width: 100%;
    min-height: 465px;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    align-items: center;
    background: whitesmoke;
    z-index: 600;
    position: relative;
    img {
        display: flex;
        justify-content: center;
        width: 420px;
        height: 265px;
        margin: -2px 0px 0px 0px;
        padding: 0px;
        padding-left: 20px;
    }
    .cleanbreakdiv {
        width: 50%;
        min-width: 350px !important;
        display: flex;
        flex-direction: column;
        align-content: center;
        // padding-left: 20px;
        h1 {
            margin: 0px;
            width: 100%;
            color: rgb(44, 52, 88);
            font-size: 2rem !important;
        }
        p {
            margin: 0 auto;
            width: 100%;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1.35rem !important;
            color: rgb(44, 52, 88);
        }
        .parallaxhome {
            width: 100% !important;
            height: auto !important;
        }
        .parallaxres {
            width: 100% !important;
            height: auto !important;
        }
        .parallaxcomm {
            width: 100% !important;
            height: auto !important;
        }
        .parallaxpower {
            width: 100% !important;
            height: auto !important;
        }
        .parallaxmiss {
            width: 100% !important;
            height: auto !important;
        }
        .parallaxproj {
            width: 100% !important;
            height: auto !important;
        }
    }
}


/* tablet */

.cleanbreaktablet {
    width: 100% !important;
    margin: 0 auto !important;
    // margin-top: 30px !important; this may need to be added again - weird space in chrome
    margin-bottom: 45px !important;
    justify-content: center!important;
    align-items: center!important;
    height: auto !important;
    display: flex !important;
    flex-direction: column !important;
    background: whitesmoke !important;
    z-index: 600 !important;
    position: relative !important;
    padding: 0px !important;
    padding-left: 30px;
    padding-right: 30px;
    .cleanbreakdivtablet {
        width: 100% !important;
        margin: 0 auto;
        flex-direction: column !important;
        width: 100%!important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        padding-top: 5% !important;
        height: 100%;
        h1 {
            width: 100%;
            margin: 0 auto !important;
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            padding: 0px !important;
            height: 100%;
            color: rgb(44, 52, 88);
            font-size: 2.2rem;
        }
        p {
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            margin: 0 auto !important;
            padding-left: 35px !important;
            padding-right: 30px !important;
            padding-bottom: 25px;
            width: 100% !important;
            height: 100%;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1.6rem;
            color: rgb(44, 52, 88);
        }
        .parallaxhome {
            width: 100% !important;
            max-height: 450px;
        }
        .parallaxres {
            width: 100% !important;
            max-height: 450px;
        }
        .parallaxcomm {
            width: 100% !important;
            max-height: 450px;
        }
        .parallaxpower {
            width: 100% !important;
            max-height: 450px;
        }
        .parallaxmiss {
            width: 100% !important;
            max-height: 450px;
        }
        .parallaxproj {
            width: 100% !important;
            max-height: 450px;
        }
    }
    img {
        display: flex !important;
        justify-content: center !important;
        align-items: center!important;
        max-width: 580px;
        height: 100%;
        margin-top: -2px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        padding: 0px !important;
    }
}


/* phone */

.cleanbreakphone {
    box-sizing: border-box;
    width: 100% !important;
    margin: 0 auto !important;
    justify-content: center!important;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    background: whitesmoke !important;
    z-index: 600 !important;
    position: relative;
    padding: 25px 0px 25px 0px!important;
    .cleanbreakdiv {
        margin: 0px !important;
        flex-direction: column;
        width: 100% !important;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        padding: 0px !important;
        h1 {
            margin: 0 auto !important;
            display: flex;
            justify-content: center !important;
            align-items: center !important;
            width: 90%;
            color: rgb(44, 52, 88);
            font-size: 1.4rem;
            padding: 0px;
        }
        p {
            color: rgb(44, 52, 88);
            display: flex !important;
            justify-content: center !important;
            align-items: center;
            margin: 0 auto;
            width: 90%;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1.1rem;
            padding-bottom: 25px;
        }
    }
    img {
        display: flex !important;
        justify-content: center !important;
        max-width: 375px;
        height: 245px;
        margin: 0 auto !important;
        padding: 0px !important;
    }
}

//mini
.cleanbreakmini {
    box-sizing: border-box;
    // min-height: 665px;
    width: 100% !important;
    margin: 0 auto !important;
    justify-content: center !important;
    // align-items: center;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    background: whitesmoke !important;
    z-index: 400 !important;
    position: relative;
    padding: 25px 0px 25px 0px!important;
    .cleanbreakdiv {
        margin: 0px !important;
        flex-direction: column;
        width: 100% !important;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        padding: 0px !important;
        h1 {
            margin: 0 auto !important;
            display: flex;
            justify-content: center !important;
            align-items: center !important;
            max-width: 87%;
            color: rgb(44, 52, 88);
            font-size: 1.4rem;
            padding: 0px;
        }
        p {
            color: rgb(44, 52, 88);
            display: flex !important;
            justify-content: center !important;
            align-items: center;
            margin: 0 auto;
            width: 86%;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1.1rem;
            padding-bottom: 25px;
        }
    }
    img {
        display: flex !important;
        justify-content: center !important;
        width: 375px;
        // max-width: 390px;
        height: 245px;
        height: auto;
        margin: 0 auto !important;
        padding: 0px !important;
    }
    // box-sizing: border-box;
    // width: 90% !important;
    // margin: 0 auto !important;
    // justify-content: space-around !important;
    // height: 100% !important;
    // display: flex;
    // flex-direction: column;
    // background: whitesmoke !important;
    // z-index: 400 !important;
    // position: relative;
    // padding: 5px 0px 25px 0px!important;
    // .cleanbreakdiv {
    //     margin: 0px !important;
    //     flex-direction: column;
    //     width: 100% !important;
    //     display: flex;
    //     justify-content: center !important;
    //     align-items: center !important;
    //     padding: 0px !important;
    //     h1 {
    //         margin: 0 auto !important;
    //         display: flex;
    //         justify-content: center !important;
    //         align-items: center !important;
    //         width: 90%;
    //         color: rgb(44, 52, 88);
    //         font-size: 1.4rem;
    //         padding: 0px;
    //     }
    //     p {
    //         color: rgb(44, 52, 88);
    //         display: flex !important;
    //         justify-content: center !important;
    //         align-items: center;
    //         margin: 0 auto;
    //         width: 90%;
    //         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    //         font-size: 1.1rem;
    //         // color: whitesmoke;
    //     }
    // }
    // img {
    //     display: flex !important;
    //     justify-content: center !important;
    //     width: 100%;
    //     max-width: 390px;
    //     // height: 245px;
    //     height: auto;
    //     margin: 0 auto !important;
    //     padding: 0px !important;
    // }
}

//blue section after carousel with cards
.clean {
    margin: 0 auto !important;
    width: 100%;
    min-height: 465px !important;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgb(44, 52, 88), rgb(51, 53, 63));
    z-index: 600;
    position: relative;
    img {
        display: flex;
        justify-content: center;
        width: 575px;
        height: 345px;
        margin: -2px 0px 0px 0px;
        padding: 0px;
    }
    .cleandiv {
        width: 50%;
        min-width: 545px !important;
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 20px;
        h1 {
            margin: 0 auto;
            width: 100%;
            color: #d6cec3;
            font-size: 2.2rem;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        p {
            margin: 0 auto;
            width: 100%;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 2rem !important;
            font-weight: normal !important;
            color: #d6cec3;
        }
    }
}

//desktop
.cleandesktop {
    margin: 0 auto !important;
    width: 100%;
    min-height: 465px !important;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgb(44, 52, 88), rgb(51, 53, 63));
    z-index: 600;
    position: relative;
    img {
        display: flex;
        justify-content: center;
        width: 420px;
        height: 265px;
        margin: -2px 0px 0px 0px;
        padding: 0px;
    }
    .cleandiv {
        width: 50%;
        min-width: 445px !important;
        display: flex;
        flex-direction: column;
        align-content: center;
        padding-left: 20px;
        h1 {
            margin: 0 auto;
            width: 100%;
            color: #d6cec3;
            font-size: 2rem;
        }
        p {
            margin: 0 auto;
            width: 100%;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1.35rem;
            color: #d6cec3;
        }
    }
}


/* tablet */

.cleantablet {
    width: 100% !important;
    margin: 0 auto !important;
    margin-top: 30px !important;
    justify-content: center!important;
    align-items: center!important;
    height: auto !important;
    display: flex !important;
    flex-direction: column !important;
    background: linear-gradient(rgb(44, 52, 88), rgb(51, 53, 63));
    z-index: 400 !important;
    position: relative !important;
    padding: 0px !important;
    padding-left: 30px;
    padding-right: 30px;
    img {
        display: flex !important;
        justify-content: center !important;
        align-items: center!important;
        max-width: 580px;
        height: 100%;
        margin: 0 auto;
        margin-top: 85px !important;
        padding: 0px !important;
    }
    .cleandivtablet {
        width: 100% !important;
        margin: 0 auto;
        margin-top: 35px;
        flex-direction: column !important;
        width: 100%!important;
        display: flex !important;
        justify-content: center!important;
        align-items: center !important;
        padding: 0px !important;
        padding-bottom: 5% !important;
        height: 100%;
        h1 {
            width: 100%;
            margin: 0 auto !important;
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            padding: 0px !important;
            height: 100%;
            color: whitesmoke !important;
            font-size: 2.2rem;
        }
        p {
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            margin: 0 auto !important;
            padding-left: 35px !important;
            padding-right: 30px !important;
            padding-bottom: 25px;
            width: 100% !important;
            height: 100%;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1.6rem;
            color: whitesmoke !important;
        }
    }
}


/* phone */

.cleanphone {
    box-sizing: border-box;
    width: 100% !important;
    margin: 0 auto !important;
    justify-content: space-around !important;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(44, 52, 88), rgb(51, 53, 63));
    z-index: 400 !important;
    position: relative;
    padding: 25px 0px 25px 0px!important;
    .cleandiv {
        margin: 0px !important;
        flex-direction: column;
        width: 100% !important;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        padding: none !important;
        h1 {
            margin: 0 auto !important;
            display: flex;
            justify-content: center !important;
            align-items: center !important;
            width: 87%;
            color: whitesmoke;
            font-size: 1.4rem;
            padding: 0px;
            padding-top: 25px;
        }
        p {
            display: flex;
            justify-content: center !important;
            align-items: center;
            margin: 0 auto;
            width: 86%;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1.1rem;
            color: whitesmoke;
        }
    }
    img {
        display: flex !important;
        justify-content: center !important;
        // max-width: 90%;
        max-width: 375px;
        height: 245px;
        margin: 0 auto !important;
        padding: 0px !important;
        // padding-top: 25px;
    }
}

//mini
.cleanmini {
    box-sizing: border-box;
    width: 100% !important;
    margin: 0 auto !important;
    justify-content: center !important;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(44, 52, 88), rgb(51, 53, 63));
    z-index: 400 !important;
    position: relative;
    padding: 25px 0px 25px 0px!important;
    .cleandiv {
        margin: 0 auto !important;
        flex-direction: column;
        width: 100% !important;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        padding: 0px !important;
        h1 {
            margin: 0 auto !important;
            display: flex;
            justify-content: center !important;
            align-items: center !important;
            width: 87%;
            color: whitesmoke;
            font-size: 1.4rem;
            padding: 0px;
            padding-top: 25px;
        }
        p {
            display: flex;
            justify-content: center !important;
            align-items: center;
            margin: 0 auto;
            width: 86%;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1.1rem;
            color: whitesmoke;
        }
        .parallaxhome {
            width: 100% !important;
            max-height: 200px !important;
        }
        .parallaxres {
            width: 100% !important;
            max-height: 200px !important;
        }
        .parallaxcomm {
            width: 100% !important;
            max-height: 200px !important;
        }
        .parallaxpower {
            width: 100% !important;
            max-height: 200px !important;
        }
        .parallaxmiss {
            width: 100% !important;
            max-height: 200px !important;
        }
        .parallaxproj {
            width: 100% !important;
            max-height: 200px !important;
        }
    }
    img {
        display: flex !important;
        justify-content: center !important;
        // max-width: 90%;
        max-width: 375px;
        height: 245px;
        margin: 0 auto !important;
        padding: 0px !important;
    }
}

@media screen and (min-width: 981px) {
    .parallaxhome {
        background-image: url("../../src/images/gorjus.jpg");
        width: 100%;
        height: 500px;
        min-height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 500;
        position: relative;
        margin: 0 auto;
    }
    .parallaxres {
        background-image: url("../../src/images/residentialparallax.jpg");
        height: 500px;
        width: 100%;
        min-height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 500;
        position: relative;
        margin: 0 auto;
    }
    .parallaxcomm {
        background-image: url("../../src/images/commercialparallax1.jpg");
        height: 500px;
        width: 100%;
        min-height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 500;
        position: relative;
        margin: 0 auto;
    }
    .parallaxpower {
        background-image: url("../../src/images/powerwash14.jpg");
        height: 500px;
        width: 100%;
        min-height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 500;
        position: relative;
        margin: 0 auto;
    }
    .parallaxproj {
        background-image: url("../../src/images/parallaxproject.jpg");
        height: 500px;
        width: 100%;
        min-height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 500;
        position: relative;
        margin: 0 auto;
    }
    .parallaxmiss {
        background-image: url("../../src/images/paintingpainters.jpg");
        height: 500px;
        width: 100%;
        min-height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 500;
        position: relative;
        margin: 0 auto;
    }
    .parallaxes {
        background-image: url("../../src/images/gorjusyep.jpg");
        height: 500px !important;
        width: 100%;
        min-height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 500;
        position: relative;
    }
    .parallaxing {
        background-image: url("../../src/images/officeclean.jpg");
        min-height: 500px;
        width: 100%;
        height: 500%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 500;
        position: relative;
    }
}

// /* tablet */
@media screen and (min-width: 737px) and (max-width: 980px) {
    .parallaxhome {
        background-image: url("../../src/images/gorjus.jpg");
        height: 500px !important;
        min-height: 500px !important;
        width: 100% !important;
        // background-attachment: fixed;
        background-position: center !important;
        background-repeat: no-repeat;
        background-size: cover !important;
        z-index: 500;
        position: relative;
        margin: 0 auto!important;
        display: block;
    }
    .parallaxres {
        background-image: url("../../src/images/residentialparallax.jpg");
        height: 500px !important;
        min-height: 500px !important;
        width: 100% !important;
        // background-attachment: fixed;
        background-position: center !important;
        background-repeat: no-repeat;
        background-size: cover !important;
        z-index: 500;
        position: relative;
        margin: 0 auto!important;
        display: block;
    }
    .parallaxcomm {
        background-image: url("../../src/images/commercialparallax1.jpg");
        height: 500px !important;
        min-height: 500px !important;
        width: 100% !important;
        // background-attachment: fixed;
        background-position: center !important;
        background-repeat: no-repeat;
        background-size: cover !important;
        z-index: 500;
        position: relative;
        margin: 0 auto!important;
        display: block;
    }
    .parallaxpower {
        background-image: url("../../src/images/powerwash14.jpg");
        height: 500px !important;
        min-height: 500px !important;
        width: 100% !important;
        // background-attachment: fixed;
        background-position: center !important;
        background-repeat: no-repeat;
        background-size: cover !important;
        z-index: 500;
        position: relative;
        margin: 0 auto!important;
        display: block;
    }
    .parallaxproj {
        background-image: url("../../src/images/parallaxproject.jpg");
        height: 500px !important;
        min-height: 500px !important;
        width: 100% !important;
        // background-attachment: fixed;
        background-position: center !important;
        background-repeat: no-repeat;
        background-size: cover !important;
        z-index: 500;
        position: relative;
        margin: 0 auto!important;
        display: block;
    }
    .parallaxmiss {
        background-image: url("../../src/images/paintingpainters.jpg");
        height: 500px !important;
        min-height: 500px !important;
        width: 100% !important;
        // background-attachment: fixed;
        background-position: center !important;
        background-repeat: no-repeat;
        background-size: cover !important;
        z-index: 500;
        position: relative;
        margin: 0 auto!important;
        display: block;
    }
    .parallaxes {
        background-image: url("../../src/images/gorjusyep.jpg");
        height: 500px !important;
        min-height: 500px !important;
        width: 100% !important;
        // background-attachment: fixed;
        background-position: center !important;
        background-repeat: no-repeat;
        background-size: cover !important;
        z-index: 500;
        position: relative;
        margin: 0 auto!important;
        display: block;
    }
    .parallaxing {
        background-image: url("../../src/images/officeclean.jpg");
        height: 500px !important;
        min-height: 500px !important;
        width: 100% !important;
        // background-attachment: fixed;
        background-position: center !important;
        background-repeat: no-repeat;
        background-size: cover !important;
        z-index: 500;
        position: relative;
        margin: 0 auto!important;
        display: block;
    }
}

// }
@media screen and (min-width: 481px) and (max-width: 736px) {
    .parallaxhome {
        background-image: url("../../src/images/gorjus.jpg");
        height: 300px !important;
        min-height: 300px !important;
        width: 100% !important;
        // background-attachment: fixed;
        background-position: center !important;
        background-repeat: no-repeat;
        background-size: cover !important;
        z-index: 500;
        position: relative;
        margin: 0 auto!important;
        display: block;
    }
    .parallaxres {
        background-image: url("../../src/images/residentialparallax.jpg");
        height: 300px !important;
        min-height: 300px !important;
        width: 100% !important;
        // background-attachment: fixed;
        background-position: center !important;
        background-repeat: no-repeat;
        background-size: cover !important;
        z-index: 500;
        position: relative;
        margin: 0 auto!important;
        display: block;
    }
    .parallaxcomm {
        background-image: url("../../src/images/commercialparallax1.jpg");
        height: 300px !important;
        min-height: 300px !important;
        width: 100% !important;
        // background-attachment: fixed;
        background-position: center !important;
        background-repeat: no-repeat;
        background-size: cover !important;
        z-index: 500;
        position: relative;
        margin: 0 auto!important;
        display: block;
    }
    .parallaxpower {
        background-image: url("../../src/images/powerwash14.jpg");
        height: 300px !important;
        min-height: 300px !important;
        width: 100% !important;
        // background-attachment: fixed;
        background-position: center !important;
        background-repeat: no-repeat;
        background-size: cover !important;
        z-index: 500;
        position: relative;
        margin: 0 auto!important;
        display: block;
    }
    .parallaxproj {
        background-image: url("../../src/images/parallaxproject.jpg");
        height: 300px !important;
        min-height: 300px !important;
        width: 100% !important;
        // background-attachment: fixed;
        background-position: center !important;
        background-repeat: no-repeat;
        background-size: cover !important;
        z-index: 500;
        position: relative;
        margin: 0 auto!important;
        display: block;
    }
    .parallaxmiss {
        background-image: url("../../src/images/paintingpainters.jpg");
        height: 300px !important;
        min-height: 300px !important;
        width: 100% !important;
        // background-attachment: fixed;
        background-position: center !important;
        background-repeat: no-repeat;
        background-size: cover !important;
        z-index: 500;
        position: relative;
        margin: 0 auto!important;
        display: block;
    }
    .parallaxes {
        background-image: url("../../src/images/gorjusyep.jpg");
        height: 300px !important;
        min-height: 300px !important;
        width: 100% !important;
        // background-attachment: fixed;
        background-position: center !important;
        background-repeat: no-repeat;
        background-size: cover !important;
        z-index: 500;
        position: relative;
        margin: 0 auto!important;
        display: block;
    }
    .parallaxing {
        background-image: url("../../src/images/officeclean.jpg");
        height: 300px !important;
        min-height: 300px !important;
        width: 100% !important;
        // background-attachment: fixed;
        background-position: center !important;
        background-repeat: no-repeat;
        background-size: cover !important;
        z-index: 500;
        position: relative;
        margin: 0 auto!important;
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .parallaxhome {
        background-image: url("../../src/images/gorjus.jpg");
        height: 200px !important;
        min-height: 200px;
        width: 100% !important;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover !important;
        z-index: 500;
        position: relative;
        margin: 0 auto;
        display: block;
    }
    .parallaxres {
        background-image: url("../../src/images/residentialparallax.jpg");
        height: 200px !important;
        min-height: 200px;
        width: 100% !important;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover !important;
        z-index: 500;
        position: relative;
        margin: 0 auto;
        display: block;
    }
    .parallaxcomm {
        background-image: url("../../src/images/commercialparallax1.jpg");
        height: 200px !important;
        min-height: 200px;
        width: 100% !important;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover !important;
        z-index: 500;
        position: relative;
        margin: 0 auto;
        display: block;
    }
    .parallaxpower {
        background-image: url("../../src/images/powerwash14.jpg");
        height: 200px !important;
        min-height: 200px;
        width: 100% !important;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover !important;
        z-index: 500;
        position: relative;
        margin: 0 auto;
        display: block;
    }
    .parallaxproj {
        background-image: url("../../src/images/parallaxproject.jpg");
        height: 200px !important;
        min-height: 200px;
        width: 100% !important;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover !important;
        z-index: 500;
        position: relative;
        margin: 0 auto;
        display: block;
    }
    .parallaxmiss {
        background-image: url("../../src/images/paintingpainters.jpg");
        height: 200px !important;
        min-height: 200px;
        width: 100% !important;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover !important;
        z-index: 500;
        position: relative;
        margin: 0 auto;
        display: block;
    }
    .parallaxes {
        background-image: url("../../src/images/gorjusyep.jpg");
        height: 200px !important;
        min-height: 200px;
        width: 100% !important;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover !important;
        z-index: 500;
        position: relative;
        margin: 0 auto;
        display: block;
    }
    .parallaxing {
        background-image: url("../../src/images/officeclean.jpg");
        height: 200px !important;
        min-height: 200px;
        width: 100% !important;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover !important;
        z-index: 500;
        position: relative;
        margin: 0 auto;
        display: block;
    }
}