.pressurewashcont {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 300;
    padding-top: 88px;
    .pressurewash {
        margin: 0 auto;
        display: block;
        max-width: 100%;
        height: 550px;
        z-index: 300;
        background-image: url("../images/powerwash15.jpg");
        background-position: 50% 220% !important;
        opacity: 0.7;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% auto;
        .overlay {
            width: 90%;
            min-height: 800px;
            float: left;
            left: -400px;
            background: rgba(21, 29, 68, 0.658);
            position: absolute;
            transform: skew(-25deg);
        }
        .pressurewash-style {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            z-index: 400;
            // align-items: space-between;
            .pressy {
                padding-top: 105px;
                margin: 0px;
                margin-top: 5%;
                margin-left: 1%;
                width: 60%;
                h1,
                h3 {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    z-index: 500;
                    font-size: 1.9rem;
                    margin: 0px;
                    padding: 12px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    color: #f8f1ed;
                    text-shadow: 1px 1px black;
                }
                h1 {
                    font-size: 52px;
                }
            }
        }
    }
    .brickdownchitown {
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        z-index: 400;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        padding-left: 10%;
        background: linear-gradient( #54504a, rgb(138, 140, 141));
        .imgcontainer {
            height: auto;
            padding-top: 75px;
            // padding-bottom: 70px;
            margin: 0px 0px 0px 0px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 575px;
        }
        img {
            display: flex;
            justify-content: center;
            width: 575px;
            height: 345px;
            margin: -2px 0px 0px 0px;
        }
        .brickup {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: 0 auto;
            width: 50%;
            height: auto;
            padding-right: 5%;
            .brickup1 {
                margin: 0 auto;
                width: 100%;
                // height: 70%;
                padding-top: 30px;
                padding-bottom: 40px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h1 {
                    width: 100%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    font-size: 50px;
                    color: rgb(255, 255, 255);
                    z-index: 500;
                    // top: 0;
                    // left: 0;
                    padding: 15px;
                    // position: absolute;
                }
                .line {
                    margin: 0 auto;
                    width: 100px;
                    height: 3px;
                    border-top: 3px solid black;
                }
            }
        }
        .bruckup {
            color: white;
            width: 100%;
            height: auto;
            margin: 0 auto;
            h3 {
                margin: 0 auto;
                width: 95%;
                display: flex;
                justify-content: flex-start;
                font-size: 1.55rem;
            }
            .contaflex {
                height: auto;
                display: flex;
                width: 100%;
                margin: 0 auto;
                padding-top: 70px;
                align-items: baseline;
                .flexin {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: auto;
                    padding-bottom: 35px;
                    p {
                        display: flex;
                        justify-content: flex-start;
                        font-size: 1.35rem;
                        width: 230px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

.pressurewashconttablet {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 300;
    .pressurewashtablet {
        margin: 0px;
        display: block;
        max-width: 100%;
        height: 350px;
        z-index: 300;
        background-image: url("../images/powerwash15.jpg");
        background-position: 50% 20% !important;
        opacity: 0.7;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% auto;
        .overlay {
            width: 110%;
            min-height: 800px;
            float: left;
            left: -400px;
            background: rgba(21, 29, 68, 0.658);
            position: absolute;
            transform: skew(-25deg);
        }
        .pressurewash-styletablet {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            z-index: 400;
            // align-items: space-between;
            .pressy {
                padding-top: 105px;
                margin: 0px;
                margin-top: 5%;
                margin-left: 3%;
                width: 60%;
                h1,
                h3 {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    z-index: 500;
                    font-size: 1.4rem;
                    margin: 0px;
                    padding: 12px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    color: #f8f1ed;
                    text-shadow: 1px 1px black;
                }
                h1 {
                    font-size: 26px;
                }
            }
        }
    }
    .brickdownchitown {
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        z-index: 400;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        padding-left: 0%;
        background: linear-gradient( #54504a, rgb(138, 140, 141));
        .imgcontainer {
            height: auto;
            padding-top: 55px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 575px;
        }
        img {
            margin: 0px;
            display: flex;
            justify-content: center;
            width: 575px;
            height: 345px;
            // margin: -2px 0px 0px 0px;
        }
        .brickup {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: 0 auto;
            padding-right: 0%;
            width: 100%;
            height: auto;
            .brickup1 {
                margin: 0 auto;
                width: 100%;
                // height: 70%;
                padding-top: 20px;
                padding-bottom: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h1 {
                    width: 100%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    font-size: 40px;
                    color: rgb(255, 255, 255);
                    z-index: 500;
                    // top: 0;
                    // left: 0;
                    padding: 15px;
                    // position: absolute;
                }
                .line {
                    margin: 0 auto;
                    width: 100px;
                    height: 3px;
                    border-top: 3px solid black;
                }
            }
        }
        .bruckup {
            margin: 0 auto;
            color: white;
            width: 100%;
            height: auto;
            display: flex;
            padding-left: 5%;
            padding-right: 5%;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            h3 {
                margin: 0 auto;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                font-size: 1.55rem;
            }
            .contaflex {
                height: auto;
                display: flex;
                width: 100%;
                margin: 0 auto;
                padding-top: 20px;
                align-items: baseline;
                .flexin {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: auto;
                    padding-bottom: 35px !important;
                    // height: auto;
                    // display: flex;
                    // width: 100% !important;
                    margin: 0px !important;
                    padding: 0px;
                    justify-content: center;
                    flex-wrap: wrap;
                    align-items: center;
                    p {
                        display: flex;
                        justify-content: flex-start;
                        font-size: 1.35rem;
                        width: 230px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

.pressurewashcontphone {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 300;
    margin-top: 0px !important;
    .pressurewashphone {
        // margin: 0px;
        // display: block;
        // max-width: 100%;
        // height: 350px;
        z-index: 300;
        background-image: url("../images/powerwash15.jpg");
        // background-position: 50% 20% !important;
        opacity: 0.7;
        display: table;
        height: 200px !important;
        width: 100%;
        height: auto;
        // padding: 100px 0;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        // background-repeat: no-repeat;
        // background-attachment: fixed;
        // background-size: 100% auto;
        .overlay {
            width: 150%;
            min-height: 800px;
            float: left;
            left: -400px;
            background: rgba(21, 29, 68, 0.658);
            position: absolute;
            transform: skew(-25deg);
        }
        .pressurewash-stylephone {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            z-index: 400;
            margin: 0 auto !important;
            // align-items: space-between;
            .pressy {
                // padding-top: 105px;
                margin: 0px;
                margin-top: 1%;
                margin-left: 3%;
                margin-bottom: 3%;
                width: 60%;
                h1,
                h3 {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    z-index: 500;
                    font-size: 1.2rem;
                    margin: 0px;
                    padding: 3px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    color: #f8f1ed;
                    text-shadow: 1px 1px black;
                }
                h1 {
                    font-size: 24px !important;
                    display: flex;
                    justify-content: center !important;
                    margin: 0 auto;
                }
            }
        }
    }
    .brickdownchitown {
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        z-index: 400;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // align-items: flex-start;
        padding-left: 0px;
        background: linear-gradient( #54504a, rgb(138, 140, 141));
        .imgcontainer {
            height: auto;
            padding-top: 35px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            // align-items: center;
            width: 310px;
        }
        img {
            margin: 0px;
            display: flex;
            justify-content: center;
            width: 310px;
            height: 245px;
            // margin: -2px 0px 0px 0px;
        }
        .brickup {
            display: flex;
            justify-content: center;
            align-items: center !important;
            flex-direction: column;
            margin: 0 auto;
            padding-right: 0px;
            width: 100%;
            height: auto;
            .brickup1 {
                margin: 0 auto;
                width: 100%;
                // height: 70%;
                padding-top: 10px;
                padding-bottom: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h1 {
                    width: 100%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    font-size: 30px;
                    color: rgb(255, 255, 255);
                    z-index: 500;
                    // top: 0;
                    // left: 0;
                    padding: 5px;
                    // position: absolute;
                }
                .line {
                    margin: 0 auto;
                    width: 100px;
                    height: 3px;
                    border-top: 3px solid black;
                }
            }
        }
        .bruckup {
            margin: 0 auto;
            color: white;
            width: 90%;
            height: auto;
            display: flex;
            padding-left: 0px;
            padding-right: 0px;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            h3 {
                margin: 0 auto !important;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center !important;
                font-size: 1.15rem;
                padding-bottom: 7px;
                font-weight: lighter;
            }
            .contaflex {
                height: auto;
                display: flex;
                width: 100%;
                margin: 0 auto;
                padding-top: 0px;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: center;
                padding-bottom: 10px;
                .flexin {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: auto;
                    // padding-bottom: 35px !important;
                    // height: auto;
                    // display: flex;
                    // width: 100% !important;
                    margin: 0 auto !important;
                    padding: 0px;
                    justify-content: center;
                    // flex-wrap: wrap;
                    align-items: center;
                    p {
                        display: flex;
                        justify-content: center;
                        font-size: 1.15rem;
                        width: 100%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}