.side-drawer {
    box-sizing: border-box;
    height: 100%;
    background: white;
    color: black;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70% !important;
    max-width: 400px;
    z-index: 999 !important;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    overflow-y: auto;
    display: flex;
    align-items: center;
    ul {
        height: auto;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        li {
            margin: 0.5rem 0;
            display: flex;
            flex-direction: column !important;
            justify-content: center;
            align-items: flex-start;
            a {
                margin-left: 10px;
                width: 200px;
                cursor: pointer !important;
                text-decoration: none;
                color: black;
                font-size: 1.2rem;
            }
        }
        li:hover {
            display: flex;
            flex-direction: column !important;
            justify-content: center;
            color: slategrey;
        }
    }
    a:hover,
    a:active {
        color: blue;
        background: transparent;
        width: 200px;
        cursor: pointer !important;
        text-decoration: none;
        font-size: 1.2rem;
        border: none;
        color: midnightblue;
    }
}

.side-drawer.open {
    transform: translateX(0);
    z-index: 999;
}

@media (max-width: 736px) {
    .toggle-button {
        margin-top: 40%;
        margin-left: 15px;
        // margin-right: -25px;
        margin-bottom: 25px;
        // margin-top: 90%;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 24px;
        max-width: 30px;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0px;
        box-sizing: border-box;
    }
    .toggle-button:focus {
        outline: none;
    }
    .toggle-button__line {
        width: 32px;
        height: 2px;
        background: black;
    }
}

@media (min-width: 736px) {
    .toggle-button {
        display: none !important;
    }
}