@import url(//db.onlinewebfonts.com/c/15be08ec87e82933a65354b3053e677a?family=CapitalPosterCdW00-Regular);
@font-face {
    font-family: "CapitalPosterCdW00-Regular";
    src: url("//db.onlinewebfonts.com/t/15be08ec87e82933a65354b3053e677a.eot");
    src: url("//db.onlinewebfonts.com/t/15be08ec87e82933a65354b3053e677a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/15be08ec87e82933a65354b3053e677a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/15be08ec87e82933a65354b3053e677a.woff") format("woff"), url("//db.onlinewebfonts.com/t/15be08ec87e82933a65354b3053e677a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/15be08ec87e82933a65354b3053e677a.svg#CapitalPosterCdW00-Regular") format("svg");
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}