.testimonialblock {
    margin: 0 auto;
    width: 100%;
    background: whitesmoke;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 800;
    height: 300px;
    // background-color: whitesmoke;
    .parapara2 {
        margin: 5px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: baseline;
        z-index: 800;
        // margin: 5px;
        // font-family: "CapitalPosterCdW00-Regular";
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(21, 29, 68);
    }
}

.testimon-card-container {
    z-index: 800;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
}

.testimonial-cards {
    z-index: 800;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
    background: #d6cec3;
    color: #d6cec3;
    .card {
        margin: 25px 60px;
        padding: 5px;
        display: flex;
        width: 25%;
        min-width: 375px !important;
        height: 135px;
        background: #d6cec3;
        opacity: 0.9;
        border: none;
        .card-body {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            div {
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            .card-text {
                width: 60%;
                font-size: 1.1rem;
                font-weight: bold;
                color: rgb(21, 29, 68);
            }
            .elipse-testimonial {
                margin: 0px;
                width: 140px;
                height: 140px;
                border: 2px solid rgb(21, 29, 68) !important;
                border-radius: 50%;
                overflow: hidden;
            }
        }
    }
}


/* tablet */

@media (max-width: 800px) {
    .testimonial-cards {
        width: 100%;
    }
}


/* phone */

@media (max-width: 500px) {
    .testimonialblock {
        margin: 0 auto;
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center !important;
        align-items: center;
        flex-direction: column;
        h2,
        h4 {
            margin: 0 auto;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 7px;
        }
        h2 {
            font-size: 1.5rem !important;
        }
        h4 {
            font-size: 1.1rem !important;
        }
    }
    .testimonial-cards {
        width: 100%;
        .card {
            margin: 15px auto;
            padding: 5px;
            display: flex;
            justify-content: space-between;
            width: 75%;
            min-width: 375px !important;
            height: 135px;
            background: #d6cec3;
            opacity: 0.9;
            border: none;
            .card-body {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                div {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }
                .card-text {
                    display: flex;
                    padding: 10px;
                    margin: 0 auto;
                    width: 75%;
                    font-size: 1.1rem;
                    font-weight: bold;
                    color: rgb(21, 29, 68);
                }
                .elipse-testimonial {
                    display: flex;
                    margin: 0 auto;
                    width: 110px !important;
                    height: 110px !important;
                }
            }
        }
        .card:first-child {
            display: none
        }
    }
}

.cards-container {
    margin: 0 auto;
    margin-top: -750px;
    width: 100%;
    height: auto;
    position: relative!important;
    // padding-top: 335px;
    // margin-bottom: -245px;
    display: block!important;
    // top: 25% !important;
    // left: 0%!important;
    z-index: 800;
    .card:first-of-type {
        margin: 0 auto;
        width: 40%;
        min-width: 840px !important;
        height: 300px;
        display: flex !important;
        justify-content: center !important;
        .card {
            color: rgb(21, 29, 68) !important;
            background: #d6cec3 !important;
        }
    }
}

.cards-style {
    margin: 0 auto !important;
    max-width: 100%;
    height: 400px;
    z-index: 4;
    padding-left: 260px !important;
    padding-right: 260px !important;
    margin: 0 auto;
    display: flex !important;
    justify-content: center !important;
    .card-title {
        font-size: 2rem !important;
    }
    .card {
        margin: 0 auto;
        padding: none !important;
        width: 20%;
        min-width: 340px !important;
        height: auto;
        background: rgb(21, 29, 68) !important;
        color: #d6cec3;
        // border: 2px solid #d6cec3 !important;
        position: relative!important;
        top: 130!important;
        // left: 0;
        // z-index: 5;
        .card-body {
            padding: none !important;
            margin: 0 auto;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
        }
        div {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            // flex-direction: column;
            margin: 0 auto;
            // margin-top: none;
            // margin-bottom: none;
            // margin-left: 5%;
            // margin-right: 5%;
            padding-top: 5px;
            // padding-bottom: 5px;
            background: rgb(21, 29, 68);
            color: #d6cec3;
        }
        .card-title {
            width: 100%;
            margin: 5px auto;
            display: flex;
            height: auto !important;
        }
        .card-text {
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 0 auto;
            height: 20px !important;
        }
        .list-group-flush {
            width: 100%;
            height: auto;
            margin: 0 auto !important;
            .list-group-item {
                width: 100%;
                display: flex;
                margin: 0 auto !important;
                justify-content: center !important;
                height: 25px;
                align-items: center;
                // margin: auto;
                padding: none !important;
            }
        }
        .link {
            display: flex;
            justify-content: flex-start !important;
            align-items: center !important;
            width: 100%;
            height: 21px;
            // margin: auto;
            padding: none !important;
            margin: 0 auto;
            font-size: .8rem !important;
            color: #d6cec3;
        }
    }
    .row {
        padding: 5px;
        input {
            width: 100%;
            padding: 8px;
        }
        label {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            font-size: 1.7em;
        }
    }
    .landingbutton {
        margin: 0 auto;
        width: 100%;
        padding: 5px;
        font-size: 1.4em;
    }
}


/* tablet */

@media (max-width: 800px) {
    .cards-container {
        width: 100%;
        box-sizing: border-box;
    }
}


/* phone */

@media (max-width: 500px) {
    .cards-container {
        width: 100%;
        height: 100%;
        margin: 0 auto !important;
        position: relative !important;
        padding-top: 315px;
        top: 60%!important;
        left: 0%!important;
        z-index: 500;
        display: flex !important;
        flex-direction: column !important;
        .cards-style {
            margin: 0 auto !important;
            width: 100%;
            height: 400px;
            z-index: 4;
            padding-left: 0px !important;
            padding-right: 0px !important;
            margin: 0 auto;
            display: flex !important;
            justify-content: center !important;
        }
        img {
            display: none !important;
        }
        .card:first-of-type {
            margin: 0 auto !important;
            width: 100%;
            min-width: 300px !important;
            min-height: 240px;
            height: auto;
            display: flex !important;
            justify-content: center !important;
            .card {
                color: rgb(21, 29, 68) !important;
                background: #d6cec3 !important;
                .card-style .imagecard .card-title {
                    font-size: 1.3rem!important;
                }
                .card-text {
                    font-size: 1rem;
                }
            }
        }
    }
    .cards-style {
        margin: 0 auto;
        width: 100%;
        height: auto !important;
        z-index: 4;
        display: flex !important;
        align-items: center;
        flex-direction: column !important;
        padding-left: none !important;
        padding-right: none !important;
        background: whitesmoke !important;
        .card-title {
            font-size: 2rem !important;
        }
        .card {
            margin: 0 auto;
            margin-top: 15px;
            padding: none !important;
            width: 20%;
            min-width: 340px !important;
            height: auto;
            background: rgb(21, 29, 68) !important;
            color: #d6cec3;
            position: relative!important;
            top: 130!important;
            .card-body {
                padding: none !important;
                margin: 0 auto;
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
            }
            div {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                padding-top: 5px;
                background: rgb(21, 29, 68);
                color: #d6cec3;
            }
            .card-title {
                width: 100%;
                margin: 5px auto;
                display: flex;
                height: auto !important;
            }
            .card-text {
                display: flex;
                justify-content: center;
                width: 100%;
                margin: 0 auto;
                height: 20px !important;
            }
            .list-group-flush {
                width: 100%;
                height: auto;
                margin: 0 auto !important;
                .list-group-item {
                    width: 100%;
                    display: flex;
                    margin: 0 auto !important;
                    justify-content: center !important;
                    height: 25px;
                    align-items: center;
                    padding: none !important;
                }
            }
            .link {
                display: flex;
                justify-content: flex-start !important;
                align-items: center !important;
                width: 100%;
                height: 21px;
                // margin: auto;
                padding: none !important;
                margin: 0 auto;
                font-size: .8rem !important;
                color: #d6cec3;
            }
        }
        .row {
            padding: 5px;
            input {
                width: 100%;
                padding: 8px;
            }
            label {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                font-size: 1.7em;
            }
        }
        .landingbutton {
            margin: 0 auto;
            width: 100%;
            padding: 5px;
            font-size: 1.4em;
        }
    }
}

// .card.link {
//     display: flex;
//     justify-content: flex-start !important;
//     align-items: center;
//     width: 100%;
//     margin: 0 auto;
//     height: 15px !important;
// }
// }
// .elipses {
//     margin-top: 15px;
//     // margin: 15px auto;
//     width: 100px;
//     position: absolute;
//     top: -70px;
//     left: 34%;
//     z-index: 10px;
//     height: 100px;
//     border: 2px solid #d6cec3 !important;
//     border-radius: 50%;
//     background: white;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
.card:hover {
    box-shadow: 0 0 4px 4px #d6cec3;
    .elipse-testimonial {
        // box-shadow: 0 0 4px 4px #d6cec3;
    }
}