.commercialcont {
    display: block;
    width: 100%;
    height: 100%;
    // display: flex;
    // flex-direction: column;
    z-index: 300;
    .commercial {
        margin: 0 auto;
        display: block;
        background-image: url("../images/commercialslickskape1.jpg");
        background-position: center !important;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        height: 400px;
        z-index: 300;
        opacity: 0.7;
        background-repeat: no-repeat;
        .overlay {
            width: 80%;
            min-height: 800px;
            float: left;
            left: -400px;
            background: rgba(21, 29, 68, 0.658);
            position: absolute;
            transform: skew(-25deg);
        }
        .commercial-style {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            z-index: 400;
            .commey {
                margin: 0px;
                margin-top: 5%;
                // height: 300px;
                // padding-top: 55px;
                // margin: 45px 0px;
                width: 70%;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                h1,
                h3 {
                    z-index: 500;
                    font-size: 1.9rem;
                    margin: 0 auto;
                    padding: 12px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    color: #f8f1ed;
                    text-shadow: 1px 1px black;
                }
                h1 {
                    font-size: 52px;
                }
            }
        }
    }
    .brickdownchitown {
        position: relative;
        margin: 0 auto;
        // margin-top: 35px;
        width: 100%;
        height: 100%;
        z-index: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        // z-index: 200;
        background: linear-gradient( #54504a, rgb(138, 140, 141));
        .imgcontainer {
            margin: 0px 0px 0px 145px;
            display: flex;
            justify-content: center;
            width: 575px;
        }
        img {
            display: flex;
            justify-content: center;
            // width: 255px;
            width: 575px;
            height: 345px;
            margin: -2px 0px 0px 0px;
            padding: none;
        }
        .brickup {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            width: 50%;
            height: auto;
            padding-right: 85px;
            .brickup1 {
                margin: 0px auto;
                width: 100%;
                height: 70%;
                padding-top: 30px;
                padding-bottom: 40px;
                display: flex;
                flex-direction: column;
                // justify-content: flex-start;
                align-items: center;
                h1 {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    font-size: 50px;
                    color: rgb(255, 255, 255);
                    z-index: 500px;
                    padding: 15px;
                }
                .line {
                    margin: 0 auto;
                    width: 100px;
                    height: 3px;
                    border-top: 3px solid black;
                }
            }
        }
        .bruckup {
            color: white;
            width: 100%;
            height: auto;
            padding-bottom: 70px;
            h3 {
                display: flex;
                justify-content: flex-start;
                font-size: 1.55rem;
            }
            .contaflex {
                height: auto;
                display: flex;
                width: 100%;
                margin: 0 auto;
                padding-top: 20px;
                align-items: baseline;
                .flexin {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    p {
                        display: flex;
                        justify-content: flex-start;
                        font-size: 1.35rem;
                        width: 245px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}